*{
margin: 0;
padding: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #F5EFEA;
}
main{
    padding-top: 80px;
    text-align: center;
    padding-bottom: 3%;
}
h1{
    text-align: center;
    color: #7b1e1e;
    font-size:400%;
}
h2{
    color: #7b1e1e;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 4%;
    margin-top: 2%;
    font-size: 200%;
}
h3{
    color: #7b1e1e;
    text-align: center;
    font-size: 140%;
    margin-top: 2%;
    margin-bottom: 2%;
}
h4{
    color: #7b1e1e;
    text-align: center;
    font-size: 110%;
    margin-top: 0.5%;
    margin-bottom: 1%;
}
header{
    background-color: #c7c7c7;
    position: fixed;
    width: 100%;
    box-shadow: 0px 4px 6px #00000062;
    padding-bottom: 0.3%;
    padding-top: 0.3%;
}
header div{
    width: 20%;
    float: right;
}
header div ul li button{
    width: 40%;
    float: left;
    margin: 4%;
    padding: 1%;
    border-radius: 10px;
    text-align: center;
    color: #F5EFEA;
    background-color: #7b1e1e;
    box-shadow: 5px 5px 10px #00000062;
    border: none;
}
header div ul{
    width: 100%;
    display: inline-block;
    list-style: none;

}
nav{
    width: 80%;
    display: inline-block;
}
header nav ul li button{
    width: 10%;
    float: left;
    margin: 1%;
    padding: 0.25%;
    border-radius: 10px;
    text-align: center;
    color: #F5EFEA;
    background-color: #7b1e1e;
    box-shadow: 5px 5px 10px #00000062;
    border: none;
}
header nav ul{
    width: 100%;
    display: inline-block;
    list-style: none;
}
.seleccionado{
    color: #7b1e1e;
    background-color: #fff2d8;
}
footer{
    width: 100%;
    display: inline-block;
    background-color: #c7c7c7;
    color: #3a2a26;
}
footer .Contacto{
    width: 80%;
    text-align: center;
    display: inline-block;
    padding-top: 3%;
}
footer .Redes_Sociales{
    width: 20%;
    float: right;
}
footer .Redes_Sociales .app{
    display: inline-block;
    width: 100%;
    height: 20%;
}
footer .Redes_Sociales .app img{
    width: 15%;
    float: left;
    margin-right: 2%;
}
.Descripcion{
    width: 99.7%;
    padding-top: 6%;
    padding-bottom: 6%;
    text-align: center;
    background-color: #dfdddb;
    box-shadow: 5px 5px 10px #00000031;
    border: 2px solid #bcbcbc;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: 0.02%;
}
.Descripcion p{
    width: 65%;
    margin-left: 18.5%;
    color: #3a2a26;
    font-size: 120%;
}
.Opiniones{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    display: inline-block;
}
.Opiniones .persona{
    width: 29%;
    height: 456px;
    margin: 2%;
    background-color: #7b1e1e;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #00000062;
    float: left;
    text-align: center;
}
.Opiniones .persona h3{
    color: #F5EFEA;
    margin-top: 5%;
}
.Opiniones .persona p{
    color: #F5EFEA;
    margin: 7%;
}
.Opiniones .persona img{
    width: 50%;
    height: 160px;
    border-radius: 50%;
    margin-top: 5%;
}
.Opiniones .persona .estrellas{
    font-size: 150%;
}
.Ubicacion
{
    width: 40%;
    padding: 1%;
    margin-top: 2%;
    margin-left: 3%;
    background-color: #dfdddb;
    border-radius: 10px;
    color: #3a2a26;
    float: left;
    width: 45%;
}
.Ubicacion p
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.Ubicacion img
{
    width: 400px;
    height: 250px;
}
.Horarios
{      
    padding: 1%;
    margin-top: 2%;
    margin-right: 2%;
    background-color: #dfdddb;
    text-align: center;
    border-radius: 10px;
    color: #3a2a26;
    float: right;
    width: 45%;
}
.Horarios ul
{
    list-style: none;
}
.Horarios ul li
{
    margin: 1%;
}
input
{
    width: 50%;
    margin-top: 1%;
    margin-bottom: 2%;
    border: 1px solid #bcbcbc;
}
input[type="checkbox"]
{
    width: auto;
}
.contenedor
{
    width: 100%;
    display: inline-block;
}
.contenedor p
{
    width: 100%;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #3a2a26;
}
.contenedor_formulario
{
    background-color: #dcc9c9;
    border: 2px solid #8B1E1E;
    margin-left: 30%;
    border-radius: 10px;
    width: 40%;
    padding-top: 1%;
    padding-bottom: 2%;
}
.contenedor_formulario button
{
    background-color: #8B1E1E;
    border-radius: 10px;
    border:none;
    color: #dcc9c9;
    width: 50%;
    margin-top: 4%;
    padding: 1%;
    text-align: center;
    box-shadow: 5px 5px 10px #00000062;
}
.menu_rojo{
    width: 33%;
    text-align: left;
    background-color: #dcc9c9;
    border: 2px solid #8B1E1E;
    padding-top: 1%;
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 2%;
    float: left;
    margin-left: 7%;
    margin-top: 2%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #00000031;
}
.menu_rojo ul{
    list-style: none;
}
.menu_rojo ul li{
    margin-bottom: 4%;
    color: #3a2a26;
}
.menu_rojo img{
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #00000062;
}
.menu_sin_diseño_derecho{
    width: 40%;
    float: right;
    margin-right: 7%;
    margin-top: 3%;
}
.menu_sin_diseño_derecho ul{
    list-style: none;
}
.menu_sin_diseño_derecho ul li{
    margin-bottom: 3%;
}
.menu_sin_diseño_derecho img{
    width: 50%;
    margin-top: 4%;
    margin-left: 1%;
    height: 315px;
}
.menu_sin_diseño_izquierdo{
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-top: 2%;
    clear: left;
}
.menu_sin_diseño_izquierdo ul{
    width: 80%;
    margin-left: 10%;
    list-style: none;
}
.menu_sin_diseño_izquierdo ul li{
    margin-bottom: 3%;
}
.menu_sin_diseño_izquierdo img{
    width: 60%;
    margin-top: 4%;
    margin-left: 1%;
    height: 315px;
}
.historia{ 
    width: 100%; 
    display: inline-block; 
} 
.historia h1{ 
    width: 35%; 
    float: left; 
    margin-left: 18%; 
    margin-top: 2%; 
    text-align: left; 
    font-size: 450%; 
    text-decoration: underline;
} 
.historia h4
{ 
    margin-left: 25.5%;
    margin-right: 7%;
    margin-bottom: 0%;
    float: left;
}
.historia img{ 
    width: 30%; 
    height: 400px; 
    float: right; 
    margin-right: 11%; 
    margin-top: 1%;
    border-radius: 10px; 
    box-shadow: 5px 5px 10px #00000062; 
}
.contenedor_minihistoria{
    width: 38%;
    float: left; 
    text-align: left; 
    margin-left: 11%; 
    margin-top: 2%; 
    padding: 2%;
    background-color: #dfdddb;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #00000031;
    border: 2px solid #bcbcbc;
}
.contenedor_minihistoria p{
    margin-bottom: 1%;
    padding: 1%;
    color: #3a2a26; 
    font-size: 140%; 
}
.creadores{
    width: 100%;
    display: inline-block;
    margin-top: 2%;
}
.creadores h2{
    font-size: 400%;
    margin-bottom: 3%;
}
.creadores h3{
    font-size: 250%;
    margin-bottom: -2%;
    color: #3a2a26;
}
.creadores h4{
    font-size: 225%;
    margin-bottom: 2%;
    margin-top: 3%;
}
.creadores img{
    width: 26%;
    height: 455px;
    float: left;
    margin-left: 10%;
    margin-right: 0.5%;
    margin-bottom: 3%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #00000062;
}
.contenedor_fundadores{
    width: 38%;
    float: right; 
    text-align: left; 
    margin-right: 8.5%;
    padding: 2%;
    padding-right: 3%;
    background-color: #dfdddb;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #00000031;
    border: 2px solid #bcbcbc;
}
.contenedor_fundadores p{
    width: 100%;
    margin-top: 1%; 
    margin-bottom: 1%; 
    padding: 2%;
    border-radius: 10px;
    font-size: 140%;
}
.creadores .contenedor{
    width: 90%;
    margin-top: 4%;
    margin-left: 10%;
}
.contenedor_caracteristicas{ 
    width: 30%; 
    height: 145px;
    float: left; 
    margin: 1%;
    margin-left: 10%;
    padding:1%;
    padding-bottom: 2%;
    padding-left: 2%;
    background-color: #dcc9c9; 
    border: 2px solid #8B1E1E; 
    border-radius: 10px; 
    box-shadow: 5px 5px 10px #00000031; 
}
.contenedor_caracteristicas h4{ 
    font-size: 140%;
    text-decoration: underline dotted;
}
.contenedor_caracteristicas p{ 
    margin-top: 1.5%;
    margin-bottom: 2%;
    margin-left: 19%;
    font-size: 120%;
    width: 62%;
}